<div id="instagram_item_properties">
  <div class="instagram-item-image">
      <img src="<%= @instagram_item.image_url %>" alt='instagram_item_image'/>
  </div>
  <div class='field' data-hook="admin_instagram_item_form_products">
      <%= f.field_container :products do %>
        <%= f.label :product_ids, Spree.t(:products) %><br />
        <%= f.hidden_field :product_ids, value: @instagram_item.product_ids.join(',') %>
      <% end %>
    </div>
  <div data-hook="admin_instagram_item_published_form">
    <%= f.field_container :published do %>
      <%= f.check_box :published %>
      <%= f.label Spree.t(:published) %>
    <% end %>
  </div>
  <div data-hook="admin_instagram_item_outstanding_form">
    <%= f.field_container :outstanding do %>
      <%= f.check_box :outstanding %>
      <%= f.label Spree.t(:outstanding) %>
    <% end %>
  </div>
  <%= f.hidden_field :instagram_post_id, value: @instagram_item.instagram_post_id %>
  <%= f.hidden_field :image_url, value: @instagram_item.image_url %>
</div>